# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.egg-info/
.build/

# Environments
.venv/
env/
venv/

# Django
db.sqlite3
media/
staticfiles/

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
EOF
