asgiref==3.9.1
certifi==2025.6.15
charset-normalizer==3.4.2
Django==5.2.4
django-filter==25.1
djangorestframework==3.16.0
idna==3.10
numpy==2.3.0
panda==0.3.1
pandas==2.3.0
pillow==11.3.0
pyperclip==1.9.0
python-dateutil==2.9.0.post0
pytube==15.0.0
pytz==2025.2
requests==2.32.4
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.4.0
